---
import { Button } from '@mantine/core';
import { asLink } from '@prismicio/client';

interface Props {
  primary?: {
    link?: any;
    label?: string;
  };
  slice_type?: string;
}

const { primary, slice_type } = Astro.props as Props;
const href = primary?.link ? asLink(primary.link) : '#';
---

<p data-slice-type={slice_type}>
  <Button
    component="a"
    href={href || '#'}
    variant="filled"
  >
    {primary?.label || 'Click here'}
  </Button>
</p>
