---
import { Stack, Title, Alert } from '@mantine/core';
import PrismicHtml from '../prismic/PrismicHtml.astro';

interface Props {
  primary?: {
    title?: string;
    content?: any;
  };
  variation?: string;
  slice_type?: string;
}

const { primary, variation, slice_type } = Astro.props as Props;
---

<section data-slice-type={slice_type} data-slice-variation={variation} role="alert">
  <Alert>
    <Stack>
      <Title order={3}>{primary?.title}</Title>
      {primary?.content && <PrismicHtml content={primary.content} />}
    </Stack>
  </Alert>
</section>
