---
interface Props {
  slice_type?: string;
}

const { slice_type } = Astro.props as Props;

const GALLERY_IMAGES = [
  { src: '/img/social/social-image-1.jpg', alt: 'Social share image 1' },
  { src: '/img/social/social-image-2.jpg', alt: 'Social share image 2' },
  { src: '/img/social/social-image-3.jpg', alt: 'Social share image 3' },
  { src: '/img/social/social-image-4.jpg', alt: 'Social share image 4' },
  { src: '/img/social/social-image-5.jpg', alt: 'Social share image 5' },
  { src: '/img/social/social-image-6.jpg', alt: 'Social share image 6' },
];
---

<section data-slice-type={slice_type} aria-label="Shareable images gallery">
  <ul>
    {GALLERY_IMAGES.map((image) => (
      <li>
        <img src={image.src} alt={image.alt} />
      </li>
    ))}
  </ul>
</section>
