/**
 * Global Mantine overrides
 */

:root {
  /* Mantine's default input font-size is 14px. Anything below 16px will trigger iOS to automatically zoom into the field on focus. */
  --input-fz: 1rem;
  /* This propagates down into things like pill text */
  --mantine-color-black: var(--color-text-primary);
  --font-family-headings: "Reddit Sans", sans-serif;
  --font-family-body: "Reddit Sans", sans-serif;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}

/* Select all Mantine components */
*[class^="mantine"] {
  b,
  strong {
    font-weight: var(--font-weight-medium);
  }
}

/* Override Mantine's default active state, which is to move things down a smidge */
.mantine-active:active {
  transform: none;
}

/* Override Mantine's aggressive focus-visible styles */
.mantine-focus-auto:focus-visible {
  outline: 1px solid var(--mantine-color-gray-3);
}

.mantine-Grid-root.flex-nowrap .mantine-Grid-inner {
  height: 100%;
  margin: 0;
  flex-wrap: nowrap;
}

/* These are necessary to pass the margin along to Mantine elements that set the margin via inline styles */

@utility mb-0 {
  --margin-bottom: 0;
}

@utility mb-1 {
  --margin-bottom: 0.25rem;
}

@utility mb-2 {
  --margin-bottom: 0.5rem;
}

@utility mb-3 {
  --margin-bottom: 0.75rem;
}

@utility mb-4 {
  --margin-bottom: 1rem;
}

@utility mb-5 {
  --margin-bottom: 1.25rem;
}

@utility mb-6 {
  --margin-bottom: 1.5rem;
}

@utility mb-7 {
  --margin-bottom: 1.75rem;
}

@utility mb-8 {
  --margin-bottom: 2rem;
}

@utility mb-9 {
  --margin-bottom: 2.5rem;
}

@utility mb-10 {
  --margin-bottom: 3rem;
}

@utility mb-11 {
  --margin-bottom: 3.5rem;
}

@utility mb-12 {
  --margin-bottom: 4rem;
}

.mantine-Title-root {
  margin-bottom: var(--margin-bottom);
}

.mantine-Select-dropdown {
  z-index: var(--z-max);
}
