---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Switch Survey">
  <article>
    <header>
      <h1>Switch Survey</h1>
    </header>

    <section>
      <p>Calculate your impact by switching banks.</p>
      <!-- Survey form will be a React island -->
    </section>
  </article>
</BaseLayout>
