---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Join the Money Movement">
  <article>
    <header>
      <h1>Join the Money Movement</h1>
    </header>

    <section>
      <!-- Newsletter/pledge signup form -->
    </section>
  </article>
</BaseLayout>
